@inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> signInManager
@if (signInManager.IsSignedIn(User))
{

}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
        @*@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            @*@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
            </li>
    </ul>
}