@model AppointmentScheduling.Models.ViewModels.RegisterViewModel

<h2>Sign Up</h2>
<form method="post" asp-action="Register" asp-controller="Account">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Name"></label>
        <div class=" col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class=" col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class=" col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="ConfirmPassword"></label>
        <div class=" col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class=" col-md-10">
            <select asp-for="RoleName" asp-items="@AppointmentScheduling.Utility.Helper.GetRolesForDropDown()" class="form-control"></select>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Register" class="btn btn-success" />
        </div>
    </div>
    <p class="col-md-10 offset-md-2">
        <a asp-action="Login">Sign In</a>
    </p>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}