@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="row">

    @if (TempData.ContainsKey("newAdminSignUp"))
    {
        <div class=container>
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>Account created for @TempData["newAdminSignUp"].ToString() </strong>
            </div>
        </div>
    }

    <div class="container">
        @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
        {
            <div class="row">
                <div class="form-group  col-4" id="divDoctorList">
                    <label> Select Doctor</label>
                    @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "Id", "Name"), new
                    {
                        @class = "form-control select2",
                        @onchange = "onDoctorChange();"
                    })
                </div>
                <div class="col-3 offset-5">
                    <a asp-controller="Account" asp-action="Register" class="btn-secondary form-control">Admin Registration</a>
                </div>
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditAppointment" />


<div class="text-right pt-2">
    <p>@HttpContextAccessor.HttpContext.Session.GetString("ssuserName")'s account is logged in</p>
</div>